img {
    width: 25%;
    height: 10%;
    box-shadow: 2px 2px 4px black;
}

#cohmer {
    width: 15%;
    height: 15%;
    
}
#cohmercaption {
    margin-bottom: 100px;
}
main a {
    color: rgb(110, 23, 209);
}
main a:hover {
    color: rgb(70, 14, 134);
}

main p {
    width: 50%;
}